<% layout("layout") -%>
<div class="jumbotron text-center">
    <a href="/login" class="btn btn-default">Login</a>
    <a href="/register" class="btn btn-default">Register</a>
    <a href="/facebook" class="btn btn-default btn-primary">Facebook</a>
</div>
<fb:login-button 
  scope="public_profile,email"
  onlogin="checkLoginState();">
</fb:login-button>
<script>
window.fbAsyncInit = function() {
  FB.init({
    appId      : '168849686939042',
    cookie     : true,
    xfbml      : true,
    version    : 'v2.8'
  });
  FB.AppEvents.logPageView(); 
};  
(function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
function checkLoginState() {
  FB.getLoginStatus(function(response) {
    console.log(response);
    statusChangeCallback(response);
  });
}
// function statusChangeCallback(response){
//   console.dir(response);
// }
</script>